.navbar-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: rem-calc(5);
	position: relative;
	cursor: pointer;

	&:hover {
		.icon {
			transform: scale(1.2);
		}
	}

	.icon {
		transform-origin: center center;
		transition: all 0.2s ease-in-out;
	}

	&__notification {
		z-index: 2;
		position: absolute;
		top: 0;
		right: 0;
		min-width: rem-calc(22);
		height: rem-calc(22);
		border-radius: rem-calc(22);
		color: $white;
		font-weight: normal;
		line-height: rem-calc(20);
		text-align: center;
		background-color: $red;
		transform: translate(50%, -50%);
	}
}
